<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hexapod">
    <!-- <xacro:arg name="initial_positions_file" default="initial_positions.yaml" /> -->
    <xacro:include filename="hexapod.core.xacro" />

    <!-- <xacro:include filename="ant.ros2_control.xacro" />
    <xacro:include filename="ant.gazebo.xacro" /> -->


    <!-- <xacro:ant_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->
</robot>