<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:property name="PI" value="3.14159274"/>
  <gazebo>
    <plugin
        filename="gz_ros2_control-system"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ant_description)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>